.todo__items {
  width: 50%;

  .todo__item {
    padding: 3%;
    border-radius: 10px;
    height: 60px;
    background: linear-gradient(to right, #ee9ca7, #ffdde1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% 0 0 0;

    &:last-child {
      margin: 5% 0 10% 0;
    }

    .todo__buttons {
      display: flex;
      margin: 0 5% 0 0;
      align-items: center;

      button {
        border-radius: 10px;
        background: silver;
        padding: 2%;
        margin: 0 4%;
        
      }

      button:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }

    .todo__text {
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: bold;
    }
  }
}

.checked {
  opacity: 0.5;
}

.hidden {
  display: none;
}