.todo__items {
  width: 50%;

  &-item {
    padding: 3%;
    border-radius: 10px;
    height: 60px;
    background: linear-gradient(to right, #ee9ca7, #ffdde1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% 0 0 0;

    &:last-child {
      margin: 5% 0 10% 0;
    }

    &-buttons {
      display: flex;
      margin: 0 5% 0 0;
      align-items: center;

      &-edit,
      &-delete {
        border-radius: 10px;
        background: silver;
        padding: 2%;
        margin: 0 4%;
        
        &:hover {
          transform: scale(1.1);
          cursor: pointer;
        }
      }
    }

    &-text {
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: bold;
    }
  }
  
  .checked {
    opacity: 0.5;
  }
}
